---
 

---


<button type="button" id="menu" aria-label="Меню" aria-expanded="false" aria-controls="mobileNav"
            class="md:hidden flex flex-col justify-center items-center w-10 h-10 gap-1.5 rounded-md hover:bg-zinc-900 transition-colors">
            <span class="block w-6 h-0.5 bg-white"></span>
            <span class="block w-6 h-0.5 bg-white"></span>
            <span class="block w-6 h-0.5 bg-white"></span>
</button>