---
import FeaturesCard from './FeaturesCard.astro';
---
<section>
    <h2 id="features"> наші Переваги </h2>
    <FeaturesCard featuresTitle="....." featuresText="Ми пропонуємо найкращі умови для гравців у нашому комп'ютерному клубі." img="features1.jpg" alt="Переваги CyberHub" />
    <FeaturesCard featuresTitle="....." featuresText="....." img="features2.jpg" alt="Переваги CyberHub" />
    <FeaturesCard featuresTitle="....." featuresText="....." img="features3.jpg" alt="Переваги CyberHub" />
</section>