---
const { featuresTitle, featuresText, image, alt } = Astro.props;
 
import { Image } from 'astro:assets';
import '../styles/global.css';
 
 
---
<div>
    <div>
        <h2> {featuresTitle} </h2>
        <p> {featuresText} </p>
    </div> 
    <Image src={image} alt={alt} loading="lazy"/>
</div>