<section>
    <div>
     <span> Контакти: +38 (067) 123-45-67</span>
     <span> Адреса: вул. Геймерська, 42, Київ, Україна </span>
    </div>
    <div>
        <a href="https://www.instagram.com/cyberhub_lviv/" target="_blank" rel="noopener">Instagram</a>
        <a href="https://l.instagram.com/?u=https%3A%2F%2Fcyberhublv.com%2F%3Futm_source%3Dig%26utm_medium%3Dsocial%26utm_content%3Dlink_in_bio%26fbclid%3DPAZXh0bgNhZW0CMTEAc3J0YwZhcHBfaWQPOTM2NjE5NzQzMzkyNDU5AAGnXLhMmV9xpge3aENqKW8WfdG3dnnwkQRznGNqQJt704Lf1KnnD19rQOyHq-Y_aem__Xs-qoaFaFHDZ7NmgWA9mw&e=AUDDg_d4IVaqi5JFlL1_iGpveKpkINUmuwz6WPLaWUqd6fs8lHU1mmH2UN0ja74B4FkEpcgInJHXS3HhITXTN9keFRpSXKimm5kh_5aViTEZ3d-i6cdBeWCelCQtZTYbSuO8oxQ" target="_blank" rel="noopener">Map</a>
    </div>
</section>