---
const { title } = Astro.props;
---
<header>
    <a href="/cyberHub/">СyberHub</a>
    <div>
        <a href="#features"> Переваги </a>
        <a href="#services"> Послуги </a>
        <a href="#contact"> Бронь </a>
    </div>
</header>