---
const { title } = Astro.props;
---


<section>
    <div> 
        <h1> {title} </h1>
        <p> Комп'ютерний клуб СyberHub, що знаходиться у Львові за адресою вул. Івана Богуна, 4</p>
    </div>
    <div>
        <img src="/assets/images/hero.jpg" alt="CyberHub" loading="eager"/>
        <button> Забронювати місце </button>
    </div>
</section>