---
import ServicesCard from "./ServicesCard.astro"
---


<section>
    <h2 id="services"> Наші Послуги </h2>
    <ServicesCard servicesTitle="title1" servicesImg="services1.webp" alt="Послуги CyberHub" servicesText="Ми пропонуємо найкращі умови для гравців у нашому комп'ютерному клубі." />
    <ServicesCard servicesTitle="title2" servicesImg="services2.webp" alt="Послуги CyberHub" servicesText="....." />
    <ServicesCard servicesTitle="title3" servicesImg="services3.webp" alt="Послуги CyberHub" servicesText="....." />
    <ServicesCard servicesTitle="title4" servicesImg="services4.webp" alt="Послуги CyberHub" servicesText="....." />
    <ServicesCard servicesTitle="title5" servicesImg="services5.webp" alt="Послуги CyberHub" servicesText="....." />
    <ServicesCard servicesTitle="title6" servicesImg="services6.webp" alt="Послуги CyberHub" servicesText="....." />
</section>