---
const { servicesTitle, image, alt, servicesText } = Astro.props;

import { Image } from 'astro:assets';
import '../styles/global.css';

---


<div> 
    <h3>{servicesTitle}</h3>
    <Image src={image} alt={alt} />
    <p>{servicesText}</p>
</div>